<header class="topbar">
      <div class="topbar-actions">
        <button class="btn btn-primary" style="width:auto;padding:8px 14px;font-size:12px" onclick="openModal('modal-post')">
          <i class="ti ti-plus"></i> Publicar
        </button>
        <button class="icon-btn" onclick="openModal('modal-notif')">
          <i class="ti ti-bell"></i><div class="dot"></div>
        </button>
        <div class="avatar" onclick="showPage('profile')" style="cursor:pointer">RS</div>
      </div>
    </header>