<aside class="sidebar" id="sidebar">
    <div class="sidebar-logo">
        <div class="logo-mark">
            <img alt="Logo NEXO" src="public/images/logo.jpg" class="sidebar-logo-image" />
        </div>
        <div class="logo-name">NEX<span>O</span></div>
    </div>
    <nav class="sidebar-nav">
        <div class="nav-section">
            <div class="nav-section-label">Principal</div>
            <div class="nav-item active" data-page="home">
                <i class="ti ti-home-2"></i><span class="nav-label">Hub Inicial</span>
            </div>
            <div class="nav-item" data-page="explore">
                <i class="ti ti-compass"></i><span class="nav-label">Explorar</span>
            </div>
        </div>
        
        <div class="nav-section">
            <div class="nav-section-label">Projetos</div>
            <div class="nav-item" data-page="project">
                <i class="ti ti-git-branch"></i><span class="nav-label">Meus Projetos</span>
            </div>
            <div class="nav-item" data-page="opportunities">
                <i class="ti ti-briefcase"></i><span class="nav-label">Oportunidades</span>
            </div>
        </div>
        
        <div class="nav-section">
            <div class="nav-section-label">Comunidade</div>
            <div class="nav-item" data-page="events">
                <i class="ti ti-calendar-event"></i><span class="nav-label">Eventos</span>
            </div>
            <div class="nav-item" data-page="chat">
                <i class="ti ti-messages"></i><span class="nav-label">Chat</span><span class="nav-badge">2</span>
            </div>
            <div class="nav-item" data-page="mobile">
                <i class="ti ti-device-mobile"></i><span class="nav-label">Versao Mobile</span>
            </div>
        </div>

    </nav>
    
    <div class="sidebar-footer">
        <div class="user-chip" data-page="profile">
            <div class="avatar">RS</div>
            <div class="user-info">
                <div class="u-name">Rafael Santos</div>
                <div class="u-role">Eng. de Software • UGB FERP</div>
            </div>
        </div>
        <button class="logout-btn" data-action="logout">
            <i class="ti ti-logout"></i> Sair
        </button>
    </div>

</aside>