<header class="topbar">
        <div class="topbar-actions">
                <button class="btn btn-primary topbar-create-post" data-modal-open="modal-post">
                        <i class="ti ti-plus"></i> Publicar
                </button>
                <button class="icon-btn" data-modal-open="modal-notif">
                        <i class="ti ti-bell"></i>
                        <div class="dot"></div>
                </button>
                <div class="avatar topbar-user-avatar" data-page="profile">RS</div>
        </div>
</header>